@import 'scss/partials/_color.scss';

.wsh-Chessboard {
    /* border: 2px solid $lowlight; this offsets spacing - fix later */
    width: 24em;
    height: 24em;
    display: flex;
    flex-flow: row wrap;
}