@import 'scss/partials/_color.scss';

.wsh-Piece--light {
    color: $light-piece;
    text-shadow:
    -1px -1px 0 $primary-font-color,
    1px -1px 0 $primary-font-color,
    -1px 1px 0 $primary-font-color,
    1px 1px 0 $primary-font-color;
}

.wsh-Piece--dark {
    color: $dark-piece;
}
